@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #121212;
  --color-highlight: #00ff00;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'DM Sans', 'Roboto Mono', monospace;
  font-size: 1.25rem;
  background-color: var(--color-base);
  color: white;
}